@import "compass/css3";
:root{
--arrowShift:10px;
}
img{
   max-width:100%; 
}
@keyframes bounce{
    0%, 20%, 50%, 80%, 100% {bottom: 45px; transform: rotate(-45deg);}
    40% {bottom: 75px; transform: rotate(-45deg);}
    60% {bottom: 60px; transform: rotate(-45deg);} 
}


.arrow {
position: fixed;
left: 50%;
width: 24px;
height: 24px;
margin-left: -12px;
border-left: 1px solid #fff;
border-bottom: 1px solid #fff;
transform: rotate(-45deg);
box-sizing: border-box;
}

.bounce {
    -webkit-animation: bounce 2s infinite; 
    animation: bounce 2s infinite; 
    -moz-animation: bounce 2s infinite;
}

.centerText{
    text-align:center
}

body { 
background: #2980B9 !important; } /*set the background color (Blue)*/
.top_background{ background: #F1F1F1}/*white*/
.IMGbuffer { 
    margin-top:30px; 
    margin-bottom:30px;
}

.prevWork{
    background:#000000; /*black*/
padding-top:80px;
}
h2{
    color:#F1F1F1;/*white*/
}
h3{
    color:#F1F1F1;/*white*/
}
p{
    color:#D9D9D9;/*light grey*/
}
a{
    color:#E5E500;/*yellow*/
}


.padTop{
padding-top:30px;
}
